

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.main {
   
}

.box {
   width:800px;
   height:500px;
   margin-left:auto;
   margin-right:auto;
   font-size: 0px;
}

.inner {
   display:inline-block;
    border: 1px solid black;
    box-sizing:border-box;
    font-size: 0px;
}

.half {
   display:inline-block;
   width:50%;
   height:200px;
}
.third {
   display:inline-block;
   height:300px;
   width: calc(100%  /3);    
}
.blue {
   background-color:blue;
}
.green {
   background-color:green;
}
.grey {
   background-color:grey;
}
.black {
   background-color:black;
}
.orange {
   background-color:orange;
}